# Programming Assignment 3

## Experiment 3 Python Data Analysis

### Problem 2

For this problem, extract the following information using subsetting, indexing, and slicing. <br>
a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars. <br>
b. Display the row that contains the ‘Model’ of ‘Mazda RX4’. <br>
c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have? <br>
d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [11]:
import pandas as pd # imports panda library

cars = pd.read_csv("cars.csv") # this reads the file and puts it in variable cars

In [ ]:
cars # run to see the contents of the .csv file for comparison

### a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.

In [30]:
cars.iloc[:5, ::2]  # The :5 displays only the first five and the ::2 only displays the odd numbered columns

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

### b. Display the row that contains the ‘Model’ of ‘Mazda RX4’.

In [44]:
cars.loc[cars["Model"] == "Mazda RX4"] # locates and displays the row of the Mazda RX4 using its label from model

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

### c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?

In [57]:
cars.loc[cars["Model"] == 'Camaro Z28', ["Model", "cyl"]] # locates and displays how many cylinders the Camaro Z28 have.

         Model  cyl
23  Camaro Z28    8

### d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [66]:
cars.loc[
    (cars['Model'] == 'Mazda RX4 Wag') | 
    (cars['Model'] == 'Ford Pantera L') | 
    (cars['Model'] == 'Honda Civic'), 
    ['Model', 'cyl', 'gear']
]
# Locates the given car models and their cylinders and gear type.

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5